@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<UpskillingMVCWebApp.Data.Entities.Issue>

@{
    ViewData["Title"] = "Scrum page";
}

<h2>Scrum!</h2>

<img src="https://scrumorg-website-prod.s3.amazonaws.com/drupal/inline-images/2021-01/screen_shot_2021-01-10_at_9.14.17_am.png"/>