body {
}

.issue-board{
    margin: 10px;
    border: groove;
}

.issue-board table {
    table-layout: fixed;
    width: 100%;
}

.issue-board td {
    border-right: 1px dashed black;
    overflow: hidden; /* optional*/
}